:root {
  /* COLORS */
  --my-primary-color: #0A192F;
  --my-primary-alternative-color: #102A48;
  --my-white-color: #FFFFFF;
  --my-white-alternative-color: #F0F7EE;
  --my-black-color: #0B0901;
  --my-black-alternative-color: #1A1A1A;
  --my-secondary-color: #00FFFF;
  --my-secondary-alternative-color: #14D7D7;
  --my-gray-color: #B9B9B9;
  --my-gray-alternative-color: #CECECE;

  /* FONT STYLES */
  --font-primary: 'Montserrat', system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  --font-secondary: 'Lato', system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;

}